<div class="nav">
    <!-- <ng-container *ngIf="this.user.length; else noHome">
        <a routerLink="/admin">Home</a>
    </ng-container>
    <ng-template #noHome>
        
    </ng-template> -->
   
   
    
    <a routerLink="/admin">Home</a>
    
    <a (click)="Logout()" style="float: right;">Logout</a>
    <!-- <ng-container *ngIf="this.user.length; else noLogin">
        <a (click)="Logout()" style="float: right;">Logout</a>
    </ng-container>
    <ng-template #noLogin>
        <a routerLink="/login">Login</a>
    </ng-template> -->
</div>