<app-header></app-header>
<div class="container">
    <h2 class="slide-up" style="text-align: center;">Top 10 Ranking</h2>
        <li class="player-item" *ngFor="let player of rank; let i = index" >
            <div class="player-details">
                <span class="player-position">{{ i + 1 }}</span>
                <img [src]="player.image" alt="{{ player.name }}" class="player-image">
                <div class="player-info">
                    <span class="player-name">{{ player.name }}</span>
                    <div class="all"
                        [ngClass]="{'up-arrow': player.rankingtoday < player.rankingyesterday, 'down-arrow': player.rankingtoday > player.rankingyesterday}">
                        <h6 *ngIf="player.rankingyesterday && player.rankingtoday !== player.rankingyesterday">
                            <ng-container *ngIf="player.rankingtoday < player.rankingyesterday" class="arrow-container">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c0/Eo_circle_green_arrow-up.svg/2048px-Eo_circle_green_arrow-up.svg.png"
                                    alt="Up arrow" class="arrow-icon"> {{ player.rankdifferent }}
                            </ng-container>
                            <ng-container *ngIf="player.rankingtoday > player.rankingyesterday" class="arrow-container">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b7/Eo_circle_red_arrow-down.svg/2048px-Eo_circle_red_arrow-down.svg.png" alt="Down arrow"
                                    class="arrow-icon"> {{ -player.rankdifferent }}
                            </ng-container>
                        </h6>
                    </div>
                    <span class="player-rating">Score : {{ player.score }}</span>
                </div>
            </div>
        </li>
    <br><br>
</div>




