.container {
    width: 30%;
    height: 80%;
    margin: 0 auto;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.463);
}
.container h1 {
    text-align: center;
}
.example-full-width {
    display: block;
    width: 50%;
    height: auto;
    margin: auto;
}
.button_reg {
    display: block;
    margin: 0 auto;
}
.container img {
    display: block;
    width: 45%;
    height: 40%;
    margin: 0 auto;
}
.login {
    width: 100%;
    height: auto;
}


