<app-header></app-header>
<!-- <div class="container">
    <br>
    <div class="image">
        <img src="https://i.pinimg.com/564x/24/a8/d6/24a8d67ab15d158c8190908f8bba3980.jpg" alt="">
        <h1>Jason william</h1>
    </div>
    <br>
    <div class="detail">
        <a href="#">แก้ไขโปรไฟล์</a>
        <a href="#">อัพโหลดรูปภาพ</a>
        <a href="#">คะแนนและอันดับ</a>
    </div>
</div> -->
<div class="container">
    <br>
    <br>
    <br>
    <br>
    <div class="image">
        <img src="https://windsoressexfamilynet.files.wordpress.com/2018/03/my-home-logo.png" alt="">
    </div>
    
</div>



